                        <% var place_history = place_history %>
                        <% for (index in place_history){%>
                            <div id="card-group">
                                <% var varId = place_history[index]['same']['_id'].toString()%>
                                <form id=<%= varId%> name="save_recent" action = "/save_recent" method = "POST" target = "dummyFrame">
                                    <div class="card-image">
                                        <img ondragstart="return false;" draggable="false" src=<%= place_history[index]['same']['Images Attached']%> />
                                    </div>
                                    <div class="card-body">
                                        <h2 class="font-black" id="title"><%= place_history[index]['same']['Title']%></h2>  
                                        <p class="font-black" id="content"><%= place_history[index]['same']['Description'] %></p>
                                        <a data-href="/find-place?lat=<%= place_history[index]['same']['Lat/Long']['0']%>&lng=<%= place_history[index]['same']['Lat/Long']['1']%>" onclick="return saveRecent('<%- varId%>')" target="_blank" class="buttoncard">Check Place</a>
                                    </div>
                                </form>
                            </div>
                            <script type="text/javascript">
                                function saveRecent(id){
                                    document.getElementById(id).submit();
                                    return true;
                                }
                            </script>
                            <iframe name = "dummyFrame" style="display: none;"></iframe>
                        <% } %>