<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>
    <head>
        <!-- heads.ejs -->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!-- side-nav-bar.ejs -->
        <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
        <div id="accommodation-header">
            <div id="transparent-background">
                <div id="accommodation-header-group">
                    <p class="font-white" id="second-title">ACCOMMODATION</p>
                    <p class="font-white" id="content"><span class="font-peach">Discover the perfect haven </span>
                        for your stay in Iloilo City as we present a curated selection of accommodations that cater to every traveler's needs. Whether you're seeking luxury, comfort, or budget-friendly options, our travel app is here to guide you in finding the ideal place to call home during your visit to Iloilo.
                    </p>
                </div>
            </div>
        </div>
        <div id="accommodation-body">
            <div id="accommodation-body-group">
                <div id="body-header">
                    <p class="font-black" id="third-title">Our comfort <span class="font-peach">picks </span></p>
                    <!--<div class="filter-row">
                        <p class="font-black">Sort By:</p>
                        <button>Name</button>
                        <button>Type</button>
                        <button>Rating</button>
                    </div>-->                  
                    
                    <div id="wraphorizontal">
                        <% var accommodations = accommodations %>
                        <% for (index in accommodations){%>
                            

                            <div id="horizontal-card-group" class="horizontalcard">
                                <div class="horizontalcardimg" style="width: auto;">
                                    <img src=<%= accommodations[index]['Images Attached']%>>
                                </div>
                                <div class="card-body">
                                    <h5 class="font-black" style="font-size: 50px;" id="title"><%= accommodations[index]['Title']%></h5>
                                    <p class="font-black" style="font-size: 20px;" id="content"><%= accommodations[index]['Description']%></p>
                                    <% var link = accommodations[index]['Link']%>
                                    <!--Pls edit the card_state_location below to fetch map coordinates-->
                                    <% var card_state_location = 'buttoncard_location'%>
                                    <% if(!link){%>
                                        <% link = '#'%>
                                        <% var card_state = 'disabled_buttoncard'%>
                                    <% } else { %>
                                        <% var card_state = 'buttoncard'%>
                                    <% } %>
                                    <a href=<%= link%> target="_blank" class=<%= card_state_location%>>Check Location</a>
                                    <a href=<%= link%> target="_blank" class=<%= card_state%>>Check Accomodation</a>
                                
                                </div>
                            </div>
                        <% } %>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>