<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>
    <head>
        <!-- heads.ejs -->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!-- side-nav-bar.ejs -->
        <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
        <div id="accommodation-header">
            <div id="transparent-background-accommodation">
                <div id="accommodation-header-group">
                    <p class="font-white" id="second-title">ACCOMMODATION</p>
                    <p class="font-white" id="content"><span class="font-peach">Potter ipsum</span> wand elf
                        parchment wingardium.
                        Wand betrayal parseltongue soul detention elf lion back his.
                        Dead bertie hat kedavra aragog gnomes wand palominos erumpent robes.
                        Hair stroke time-turner newt fantastic bred erised pigwidgeon mine rva.
                        Bat forbidden cabbage parchment sunshine.
                        Bag moon ground moon quidditch sight grim.
                    </p>
                </div>
            </div>
        </div>
        <div id="accommodation-body">
            <div id="accommodation-body-group">
                <div id="body-header">
                    <p class="font-black" id="third-title">ACCOMMODATION</p>
                    <div class="filter-row">
                        <p class="font-black">Sort By:</p>
                        <button>Name</button>
                        <button>Type</button>
                        <button>Rating</button>
                    </div>
                    <!-- Just a dummy to show -->
                    <div id="wrap">
                        <% var accommodation = accommodation %>
                        <% for (index in accommodation){%>
                            <div id="card-group">
                                <div class="card-image">
                                    <img src=<%= accommodation[index]['Images Attached']%> />
                                </div>
                                <div class="card-body">
                                  <h2 class="font-black"><%= accommodation[index]['Title']%></h5>  
                                  <p class="font-black"><%= accommodation[index]['Description'] %></p>
                                  <% var link = accommodation[index]['Link']%>
                                  <% var card_state = 'buttoncard'%>
                                  <% if(!link){%>
                                    <% link = '#'%>
                                    <% card_state = 'disabled_buttoncard'%>
                                  <% } %>
                                  <a href=<%= link%> target="_blank" class=<%= card_state%>>Check Accomodation</a>
                                
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>