<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
    <!-- top-nav-bar.ejs -->
    <%- include('../partials/top-nav-bar'); %>
    
    <div id="accomm-body">
        <div id="accomm-img">
            <img src="/img/placeholder.jpg">
        </div>
        <div id="accomm-details">
            <div id="accomm-group">
                <p id="accomm-title" class="font-white">Title</p>
                <p id="accomm-address" class="font-white">Address</p>
            </div>
            <p id="accomm-description" class="font-white">Description</p>
            <div id="accomm-buttons">
                <button id="accomm-availability" class="font-white">Check Availability</button>
                <button id="accomm-directions" class="font-white">Get Directions</button>
            </div>
        </div>


        <!-- ORIGINAL ACCOMMODATION.EJS DATA FETCH -->
        <div id="wrap">
            <% var accommodation = accommodation %>
            <% for (index in accommodation){%>
                <div id="card-group">
                    <div class="card-image">
                        <img src=<%= accommodation[index]['Images Attached']%> />
                    </div>
                    <div class="card-body">
                      <h2 class="font-black"><%= accommodation[index]['Title']%></h5>  
                      <p class="font-black"><%= accommodation[index]['Description'] %></p>
                      <% var link = accommodation[index]['Link']%>
                      <% var card_state = 'buttoncard'%>
                      <% if(!link){%>
                        <% link = '#'%>
                        <% card_state = 'disabled_buttoncard'%>
                      <% } %>
                      <a href=<%= link%> target="_blank" class=<%= card_state%>>Check Accomodation</a>
                    
                    </div>
                </div>
            <% } %>
        </div>





    </div>

</body>

</html>
