<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>
    <head>
        <!-- heads.ejs -->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!-- side-nav-bar.ejs -->
        <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
        <div id="culture-and-festivals1">
            <div class="transparent-background-title">
                <div id="culture-and-festivals11">
                    <p class="font-white" id="title">CULTURE & FESTIVALS</p>
                    <div class="filter-row">
                        <p class="font-white">Sort By:</p>
                        <button>Name</button>
                        <button>Date</button>
                    </div>
                    <!-- Just a dummy to show -->
                    <div id="wrap">
                        <%- include('../partials/dummyfood'); %>
                        <%- include('../partials/dummyfood'); %>
                        <%- include('../partials/dummyfood'); %>
                        <%- include('../partials/dummyfood'); %>
                        <%- include('../partials/dummyfood'); %>
                        <%- include('../partials/dummyfood'); %>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>