<!DOCTYPE html>
<!-- This html document uses EJS -->
<!-- Jquery script owl carousel -->

<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>

</head>

<body>

    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
            <div id="festivals-header">
                <div id="transparent-background">
                    <div id="festivals-header-group">
                        <p class="font-white" id="second-title">CULTURES AND FESTIVALS </p>
                        <p class="font-white" id="content"><span class="font-peach">Immerse yourself</span>
                             in the vibrant cultural tapestry and lively festivities of Iloilo City, as we celebrate the rich heritage and traditions that make this destination truly remarkable. Our travel app is your gateway to exploring the captivating culture and exciting festivals that define the spirit of Iloilo.

Discover the cultural treasures that bring Iloilo City to life. Unearth the captivating stories behind age-old traditions and immerse yourself in the warm hospitality of the locals. From the intricate dances of the Dinagyang Festival to the captivating rhythms of the Paraw Regatta, Iloilo's festivals will leave you in awe.
                        </p>
                    </div>
                </div>
            </div>
            <div id="festivals-body">
                <div id="festivals-body-group">
                    <div id="body-header">
                        <p class="font-black" id="third-title">The Best Events in <span class="font-peach">Iloilo</span>
                        </p>
                        <!-- <div class="filter-row">
                            <p class="font-black">Sort By:</p>
                            <button>Name</button>
                            <button>Date</button>
                        </div> -->
                    </div>
                    <!-- Just a dummy to show -->
                    <div id="wrap">
                        <% var festivals = festivals %>
                        <% for (index in festivals){%>
                            <div id="card-group">
                                <% var varId = festivals[index]['_id'].toString()%>
                                <form id=<%= varId%> name="save_recent" action = "/save_recent" method = "POST" target = "dummyFrame">
                                    <div class="card-image">
                                        <img src=<%= festivals[index]['Images Attached']%> />
                                    </div>
                                    <div class="card-body">
                                        <h2 class="font-black" id="content"><%= festivals[index]['Title']%></h2>  
                                        <p class="font-black" id="content"><%= festivals[index]['Description'] %></p>
                                        <% var link = festivals[index]['Link']%>
                                        <% var card_state = 'buttoncard'%>
                                        <% if(!link){%>
                                            <% link = '#'%>
                                            <!-- NOTE: Change to disabled_buttoncard once links are complete -->
                                            <% var card_state = 'disabled_buttoncard'%>
                                        <% } %>
                                        <div id="link-buttons">
                                            <input type = "hidden" name = "varId" id = "varId" value=<%= varId%>>
                                            <input type = "hidden" name = "Category" id = "Category" value ='Festivals'>
                                            <a href=<%= link%> onclick="return saveRecent('<%- varId%>')" target="_blank" class='buttoncard'>Check Festival</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <script type="text/javascript">
                                function saveRecent(id){
                                    document.getElementById(id).submit();
                                    return true;
                                }
                            </script>
                            <iframe name = "dummyFrame" style="display: none;"></iframe>
                        <% } %>
                    </div>
                </div>
            </div>
</body>

</html>