<!DOCTYPE html>
<!-- This html document uses EJS -->
<!-- Jquery script owl carousel -->

<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>

</head>

<body>

    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
            <div id="culturebg">
                <div class="transparent-background">
                    <div id="home11">
                        <p class="font-white" id="second-title">CULTURES AND FESTIVALS </p>
                        <p class="font-white" id="content"><span class="font-peach">Potter ipsum</span> wand elf
                            parchment wingardium.
                            Wand betrayal parseltongue soul detention elf lion back his.
                            Dead bertie hat kedavra aragog gnomes wand palominos erumpent robes.
                            Hair stroke time-turner newt fantastic bred erised pigwidgeon mine rva.
                            Bat forbidden cabbage parchment sunshine.
                            Bag moon ground moon quidditch sight grim.
                        </p>
                    </div>
                </div>
            </div>
            <div id="culture-and-festivals1">
                <div id="homebackground">
                    <div id="body-header">
                        <p class="font-black" id="third-title">THE BEST EVENTS IN <span class="font-peach">ILOILO</span>
                        </p>
                        <div class="filter-row">
                            <p class="font-black">Sort By:</p>
                            <button>Name</button>
                            <button>Date</button>
                        </div>
                    </div>
                    <!-- Just a dummy to show -->
                    <div id="wrap">
                        <%- include('../partials/dummyfood'); %>
                            <%- include('../partials/dummyfood'); %>
                                <%- include('../partials/dummyfood'); %>
                                    <%- include('../partials/dummyfood'); %>
                                        <%- include('../partials/dummyfood'); %>
                                            <%- include('../partials/dummyfood'); %>
                    </div>
                </div>
            </div>
            </div>
</body>

</html>