<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
            <div id="food-header">
                <div id="transparent-background">
                    <div id="food-header-group">
                        <p class="font-white" id="second-title">THE BEST FOOD IN ILOILO </p>
                        <p class="font-white" id="content"><span class="font-peach">Potter ipsum</span> wand elf
                            parchment wingardium.
                            Wand betrayal parseltongue soul detention elf lion back his.
                            Dead bertie hat kedavra aragog gnomes wand palominos erumpent robes.
                            Hair stroke time-turner newt fantastic bred erised pigwidgeon mine rva.
                            Bat forbidden cabbage parchment sunshine.
                            Bag moon ground moon quidditch sight grim.
                        </p>
                    </div>
                </div>
            </div>
            <div id="food-body">
                <div id="food-body-group">
                    <div id="body-header">
                        <p class="font-black" id="third-title">OUR TOP <span class="font-peach">BITES</span></p>
                        <!-- <div class="filter-row">
                            <p class="font-black">Sort By:</p>
                            <button>Name</button>
                            <button>Date</button>
                        </div> -->
                    </div>
                    <!-- For each food from database -->
                    <div id="wrap">
                        <% var foods = foods %>
                        <% for (index in foods){%>
                            <div id="card-group">
                                <% var varId = foods[index]['_id'].toString()%>
                                <form id=<%= varId%> name="save_recent" action = "/save_recent" method = "POST" target = "dummyFrame">
                                    <div class="card-image">
                                        <img src=<%= foods[index]['Images Attached']%> />
                                    </div>
                                    <div class="card-body">
                                    <h2 class="font-black" id="content"><%= foods[index]['Title']%></h2>  
                                    <p class="font-black" id="content"><%= foods[index]['Description'] %></p>
                                    <% var link = foods[index]['Link']%>
                                    <% var card_state = 'buttoncard'%>
                                    <% if(!link){%>
                                        <% link = '#'%>
                                        <% card_state = 'disabled_buttoncard'%>
                                    <% } %>
                                    <input type = "hidden" name = "varId" id = "varId" value=<%= varId%>>
                                    <input type = "hidden" name = "Category" id = "Category" value ='Foods'>
                                    <a href=<%= link%> onclick="return saveRecent('<%- varId%>')" target="_blank" class=<%= card_state%>>Check Food</a>
                                    </div>
                                </form>
                            </div>
                            <script type="text/javascript">
                                function saveRecent(id){
                                    document.getElementById(id).submit();
                                    return true;
                                }
                            </script>
                            <iframe name = "dummyFrame" style="display: none;"></iframe>
                        <% } %>
                    </div>
                </div>
            </div>

</body>

</html>