<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
            <div id="foodbg">
                <div id="transparent-background-food">
                    <div id="foodbg1">
                        <p class="font-white" id="secondtitle">THE BEST FOOD IN ILOILO </p>
                        <p class="font-white" id="content"><span class="font-peach">Potter ipsum</span> wand elf
                            parchment wingardium.
                            Wand betrayal parseltongue soul detention elf lion back his.
                            Dead bertie hat kedavra aragog gnomes wand palominos erumpent robes.
                            Hair stroke time-turner newt fantastic bred erised pigwidgeon mine rva.
                            Bat forbidden cabbage parchment sunshine.
                            Bag moon ground moon quidditch sight grim.
                        </p>
                    </div>
                </div>
            </div>
            <div id="food1">
                <div id="food11">
                    <div id="food111">
                        <p class="font-black" id="thirdtitle">OUR TOP <span class="font-peach">BITES</span></p>
                        <div class="filter-row">
                            <p class="font-black">Sort By:</p>
                            <button>Name</button>
                            <button>Date</button>
                        </div>
                    </div>
                    <!-- For each food from database -->
                    <div id="wrap">
                        <% var foods = foods %>
                        <% for (index in foods){%>
                            <div id="uin-one-third-row">
                                <div class="card" style="width: 18rem;">
                                    <img src="/img/placeholder.jpg" width="70" height="80"
                                    style="object-fit:cover;border-radius:10px;padding-top:1px;">
                                <div class="card-body">
                                  <h5 class="font-black"><%= foods[index]['Title']%></h5>  
                                  <p class="font-black"><%= foods[index]['Description'] %></p>
                                  <a href="#" class="buttoncard">Go somewhere</a>
                                </div>
                              </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>

</body>

</html>