<!DOCTYPE html>
<!-- This html document uses EJS -->

<html>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>


<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>


    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>

            <div id="home-header">
                <div class="transparent-background-home">
                    <div id="home-header-group">
                        <div class="video-container">
                            <video autoplay loop muted>
                                <source src="/img/bgvid_1.mp4" type="video/mp4">
                            </video>
                        </div>

                        <p class="font-white" id="title">ILOILO CITY </p>
                        <p class="font-white" id="content"><span class="font-peach">The City of Love: </span> 
                            Discover the hidden gem of Iloilo City. Nestled in the heart of the Visayas region, Iloilo offers a delightful fusion of history, culture, and natural beauty. Lagaw is your gateway to unlocking the secrets and treasures of this captivating city.
                        </p>
                    </div>
                </div>
            </div>

            <div id="home-highlights">
                <div class="homebackground">
                    <div class="two-vertical-panels">
                        <div id="home-highlights-body">
                            <p class="font-black" id="title">Iloilo City's Rich <span
                                    class="font-peach">History</span></p>
                            <p class="font-black" id="content"><span class="font-peach">Under Spanish colonization</span>
                                the early type of dispersed settlement called barangays evolved into towns (pueblos) and provinces (alcaldias). Parish churches, beside the nearby town hall (casa tribunal) and town plaza, became the heart of town plans. From the town center, residences filled up the streets which radiated in a grid-iron pattern. Today, the town plaza remains a center of public and religious celebrations.

                                <br><br>The seat of government was first set up along the coastlines of Arevalo, which was always under the threat of Muslim or Dutch pirates. Political survival prompted the Spaniards to transfer the seat to Ogtong (now Oton) and eventually near the mouth of Iloilo River (now Fort San Pedro). Since its establishment, a radial road network which radiates from the fort is still being used today.
                            </p>
                        </div>
                        <div id="home-highlights-body">
                            <%- include('../partials/carouselhistory'); %>
                        </div>
                    </div>
                </div>
            </div>

            <div id="home-highlights">
                <div class="homebackground">
                    <div class="two-vertical-panels">
                        <div id="home-highlights-body">
                            <%- include('../partials/carousel'); %>
                        </div>
                        <div id="home-highlights-body">
                            <p class="font-black" id="title">The City's Most Famous <span
                                    class="font-peach">Highlights</span></p>
                            <p class="font-black" id="content"><span class="font-peach">Immerse yourself</span> 
                                 in the captivating charm of Iloilo City, a destination rich in history, culture, and natural beauty. Discover the highlights that make this city a must-visit location for travelers seeking a unique and memorable experience.
                                 Iloilo City is also known for its warm and friendly locals who are always ready to welcome visitors with open arms. Experience the genuine hospitality as you engage with the locals and learn about their traditions and way of life.

                                 <br><br>Embark on an unforgettable journey through Iloilo City, where rich history, delectable cuisine, vibrant festivals, and breathtaking landscapes converge. Discover the highlights of this captivating destination and create memories that will last a lifetime.
                                </p>
                        </div>

                    </div>
                </div>
            </div>

            <div id="home-explore">
                <div class="homebackground">
                    <div id="home-explore-body">
                        <p class="font-black" id="title">Latest <span class="font-peach" id="title">News</span></p>
                            <p class="font-black" id="content"><span class="font-peach">Stay in the loop</span> 
                                 with the most up-to-date happenings in Iloilo City, learn more about the local government, and a list of activities to do made for you by professional travel experts.

                            </p>
                        <div class="card-container">


                            <div class="homecard">
                                <img src="/img/travelguidepic.jpg" class="homecardimg" alt="">
                                <div class="homecardimgbody">
                                    <h1 class="homecardtitle" id="title">Travel Guide</h1>
                                    <p class="homecardinfo" id="content">Here is a list of things to do in Iloilo! A compact travel guide to help you should you visit outside of Iloilo!</p>
                                        <a href="https://guidetothephilippines.ph/articles/ultimate-guides/iloilo-travel-guide" class="buttoncard">Learn More</a>
                                </div>
                            </div>

                            <div class="homecard">
                                <img src="/img/panaynewspic.jpg" class="homecardimg" alt="">
                                <div class="homecardimgbody">
                                    <h1 class="homecardtitle" id="title">ILoilo Latest News</h1>
                                    <p class="homecardinfo" id="content">Access Panay News, the biggest daily newspaper in Western Visayas brings you breaking news on environment, nation, Metro Bacolod, Iloilo, and top stories from around the world.</p>
                                        <a href="https://www.panaynews.net/" class="buttoncard">Learn More</a>
                                </div>
                            </div>
                            <div class="homecard">
                                <img src="/img/localgovtpic.jpg" class="homecardimg" alt="">
                                <div class="homecardimgbody">
                                    <h1 class="homecardtitle" id="title">Iloilo City Local Government</h1>
                                    <p class="homecardinfo" id="content">Access comprehensive information about your travel location!

                                        Discover essential details such as travel regulations, safety guidelines, local attractions from the local government.
                                    </p>
                                    <a href="https://iloilocity.gov.ph/main/" class="buttoncard">Learn More</a>
                                </div>
                            </div>

                            <div class="homecard">
                                <img src="/img/thingstodopic.jpg" class="homecardimg" alt="">
                                <div class="homecardimgbody">
                                    <h1 class="homecardtitle" id="title">Things to do in Iloilo City</h1>
                                    <p class="homecardinfo" id="content">Learn more about the activities that Iloilo City has to offer with this comprehensive list of activities, each one a must add to your travel to-do list!</p>
                                        <a href="https://www.klook.com/en-PH/city/481-iloilo-things-to-do/?gad=1&gclid=Cj0KCQjw98ujBhCgARIsAD7QeAitxuS-7yea2v71EkSAQglo227rIZf6K6ggRwOLonNhPjVuVayY16YaAnp5EALw_wcB&gclsrc=aw.ds" class="buttoncard">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>