<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>

    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
    <!-- top-nav-bar.ejs -->
    <%- include('../partials/top-nav-bar'); %>
    
    <div class="uin-background">
        <div id="uin-one-third-column">
            <div></div>
            <div class="uin-transparent-black">
                <div class="uin-center-left">
                    <p class="font-peach" id="title">Welcome!</p>
                    <p class="font-white" id="content">Login</p>
                </div>
                <div class="uin-center-right">
                    <form action="/login" method="post">
                        <%- include('../partials/login-form'); %>
                    </form>
                    <p class="font-white">
                        <% if (messages.error){ %>
                            <%= messages.error%>
                        <% } %>
                    </p>
                    <a href="/register">Register</a>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</body>

</html>