<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
            <div id="p-a-l-header">
                <div id="transparent-background-p-a-l">
                    <div id="p-a-l-header-group">
                        <p class="font-white" id="second-title">PLACES AND LANDMARKS</p>
                        <p class="font-white" id="content"><span class="font-peach">Potter ipsum</span> wand elf
                            parchment wingardium.
                            Wand betrayal parseltongue soul detention elf lion back his.
                            Dead bertie hat kedavra aragog gnomes wand palominos erumpent robes.
                            Hair stroke time-turner newt fantastic bred erised pigwidgeon mine rva.
                            Bat forbidden cabbage parchment sunshine.
                            Bag moon ground moon quidditch sight grim.
                        </p>
                    </div>
                </div>
            </div>

            <div id="p-a-l-body">
                <div id="p-a-l-body-group">
                    <div id="body-header">
                        <p class="font-black" id="third-title">Places You Must <span class="font-peach">Visit</span></p>
                        <!-- <div class="filter-row">
                            <p class="font-black">Sort By:</p>
                            <button>Name</button>
                            <button>Date</button>
                        </div> -->
                        <!-- Just a dummy to show -->
                        <div id="wraphorizontal">
                            <% var places = places %>
                            <% for (index in places){%>
                                <div id="horizontal-card-group" class="horizontalcard">
                                    <div class="horizontalcardimg" style="width: auto;">
                                        <img src=<%= places[index]['Images Attached']%> style="width:500px;height:80;
                                        style="object-fit:cover;border-radius:10px;padding-top:1px;">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="font-black" style="font-size: 50px;" id="content"><%= places[index]['Title']%></h5>
                                        <p class="font-black" style="font-size: 20px;" id="content"><%= places[index]['Description']%></p>
                                        <% var link = places[index]['Link']%>
                                        <% if(!link){%>
                                            <% link = '#'%>
                                            <% var card_state = 'disabled_buttoncard'%>
                                        <% } else { %>
                                            <% var card_state = 'buttoncard'%>
                                        <% } %>
                                        <a href=<%= link%> target="_blank" class=<%= card_state%>>Check Place</a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>