<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
            <div id="p-a-l-header">
                <div id="transparent-background">
                    <div id="p-a-l-header-group">
                        <p class="font-white" id="second-title">PLACES AND LANDMARKS</p>
                        <p class="font-white" id="content"><span class="font-peach">Get ready to immerse yourself</span>
                             in the enchanting wonders of Iloilo City, as we unveil the most iconic places and landmarks this captivating destination has to offer. This is your gateway to exploring the rich heritage, vibrant culture, and natural beauty of this remarkable city.

                             Whether you're a local looking to rediscover your roots or a visitor seeking authentic experiences, let this be your guide to unlocking the secrets of Iloilo City.

                            Start your journey now and let the magic of Iloilo captivate your senses. 
                        </p>
                    </div>
                </div>
            </div>

            <div id="p-a-l-body">
                <div id="p-a-l-body-group">
                    <div id="body-header">
                        <p class="font-black" id="third-title">Places You Must <span class="font-peach">Visit</span></p>
                        <!-- <div class="filter-row">
                            <p class="font-black">Sort By:</p>
                            <button>Name</button>
                            <button>Date</button>
                        </div> -->
                        <!-- Just a dummy to show -->
                        <div id="wraphorizontal">
                            <% var places = places %>
                            <% for (index in places){%>
                                <div id="horizontal-card-group" class="horizontalcard">
                                    <% var varId = places[index]['_id'].toString()%>
                                    <form id=<%= varId%> class="link-form" name="save_recent" action = "/save_recent" method = "POST" target = "dummyFrame">
                                        <div class="horizontalcardimg">
                                            <img src=<%= places[index]['Images Attached']%>>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="font-black" style="font-size: 50px;" id="title"><%= places[index]['Title']%></h5>
                                            <p class="font-black" style="font-size: 20px;" id="content"><%= places[index]['Description']%></p>
                                            <% var link = places[index]['Link']%>
                                            <!--Pls edit the card_state_location below to fetch map coordinates-->
                                            <% var card_state_location = 'buttoncard_location'%>
                                            <% var card_state = 'buttoncard'%>
                                            <% if(!link){%>
                                                <% link = '#'%>
                                                <% card_state = 'disabled_buttoncard'%>
                                            <% } %>
                                            <div id="link-buttons">
                                                <a href=<%= link%> target="_blank" class=<%= card_state_location%>>Check Location</a>
                                                <input type = "hidden" name = "varId" id = "varId" value=<%= varId%>>
                                                <input type = "hidden" name = "Category" id = "Category" value ='Places'>
                                                <a href=<%= link%> onclick="return saveRecent('<%- varId%>')" target="_blank" class="buttoncard">Check Place</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <script type="text/javascript">
                                    function saveRecent(id){
                                        document.getElementById(id).submit();
                                        return true;
                                    }
                                </script>
                                <iframe name = "dummyFrame" style="display: none;"></iframe>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>