<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>
    <head>
        <!-- heads.ejs -->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!-- side-nav-bar.ejs -->
        <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>

        <title>Traffic Map</title>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=API_KEY%>&libraries=geometry"></script>
        <style>
          #map {
            height: 100%;
            background-color: #f2f2f2;
            border: none;
          }
          
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }

          
        </style>
      </head>
      <body>
        
        <div id="map"></div>
    </body>
    <!-- @ignore syntax error -->
    <script type='text/javascript'>
      var initCoords = <%- JSON.stringify(coords || null) %>
      console.log(initCoords);
   </script>
</html>