<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>

            <div id="userbody">
                <div id="userheader">
                    <div id="userheadergroup">
                        <p class="font-white">Hi, <%= username %>!</p>
                        <a>
                            <p class="font-white">Change Password?</p>
                        </a>
                    </div>
                    <p class="font-white">Profile History</p>
                </div>
                <div id="user_places">
                    <p class="font-white">Here are the places you've visited</p>
                    <div id="wrap">
                        <%- include('../partials/dummyfood'); %>
                            <%- include('../partials/dummyfood'); %>
                                <%- include('../partials/dummyfood'); %>
                                    <%- include('../partials/dummyfood'); %>
                                        <%- include('../partials/dummyfood'); %>
                                            <%- include('../partials/dummyfood'); %>
                    </div>
                </div>
                <div id="user_food">
                    <p class="font-white">Here are the foods you've viewed</p>
                    <div id="wrap">
                        <%- include('../partials/dummyfood'); %>
                            <%- include('../partials/dummyfood'); %>
                                <%- include('../partials/dummyfood'); %>
                                    <%- include('../partials/dummyfood'); %>
                                        <%- include('../partials/dummyfood'); %>
                                            <%- include('../partials/dummyfood'); %>
                    </div>
                </div>
                <div id="user_culture">
                    <p class="font-white">Here are the festivals you've shown</p>
                    <div id="wrap">
                        <%- include('../partials/dummyfood'); %>
                            <%- include('../partials/dummyfood'); %>
                                <%- include('../partials/dummyfood'); %>
                                    <%- include('../partials/dummyfood'); %>
                                        <%- include('../partials/dummyfood'); %>
                                            <%- include('../partials/dummyfood'); %>
                    </div>
                </div>
                <div id="user_accommodation">
                    <p class="font-white">Here are the accommodations you've looked</p>
                    <div id="wrap">
                        <%- include('../partials/dummyfood'); %>
                            <%- include('../partials/dummyfood'); %>
                                <%- include('../partials/dummyfood'); %>
                                    <%- include('../partials/dummyfood'); %>
                                        <%- include('../partials/dummyfood'); %>
                                            <%- include('../partials/dummyfood'); %>
                    </div>
                </div>
            </div>

</body>

</html>