<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>

            <div id="userbody">
                <div id="userheader">
                    <div id="userheadergroup">
                        <p class="font-black">Hi, <%= username %>!</p>
                        <a href = "/change-pass">
                            <p class="font-peach">Change Password?</p>
                        </a>
                    </div>
                    <p class="font-black">Profile History</p>
                </div>
                <div id="user_places">
                    <p class="font-black" id="title">Here are the places you've visited</p>
                    <div id="wrap">
                        <!-- fetch-places-history.ejs -->
                        <%- include('../partials/fetch-places-history'); %>
                    </div>
                </div>
                <div id="user_food">
                    <p class="font-black" id="title">Here are the foods you've viewed</p>
                    <div id="wrap">
                        <!-- fetch-foods-history.ejs -->
                        <%- include('../partials/fetch-foods-history'); %>
                    </div>
                </div>
                <div id="user_culture">
                    <p class="font-black" id="title">Here are the festivals you've shown</p>
                    <div id="wrap">
                        <!-- fetch-festivals-history.ejs -->
                        <%- include('../partials/fetch-festivals-history'); %>
                    </div>
                </div>
                <div id="user_accommodation">
                    <p class="font-black" id="title">Here are the accommodations you've looked</p>
                    <div id="wrap">
                        <!-- fetch-accommodations-history.ejs -->
                        <%- include('../partials/fetch-accommodations-history'); %>
                    </div>
                </div>
            </div>

</body>

</html>
